/*custom properties*/
:root{
    -- color-primario: #181818;
    -- color-secundario: #f0f0f0;
}

/*tipografia */
  tipo-principal : Helvetica, Arial, sans-serif;
  tipo-secundario : verdana;

/*las adaptamos al modo oscuro*/
 @media (prefers-scheme: dark){
     root:{
         color-primario: #f0f0f0;
         color-secundario: #181818;
     }
 }

/*opcional*/
/*configuramos si un usuario ha activado el modo de alto contraste*/
@media (prefers-contrast: high) {
    :root{
        color-primario: black;
        color-secundario: white;

    }
}

/*opcional*/
/*desactivamos los animations en caso que el usuario haya configuradoel modo sin...*/
@media(prefers-reduced-motion: reduce) {
    *{
    animation: none;
    transition: none;
    }
}

/*reseteamos los margging y padding de todas las etiquetas */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

}

/* evitamosa problemas con las imagenes */
img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /*opcional*/ object-position: center center;
    /*opcional*/object-fit: cover;

}

/* reseteamos los enlaces para funcionar como cajas */
a{
    display: block;

}
/* .... excepto los que se encuentran en parrafos */
p a {
    display: inline;
}

/*quitamos los puntos de los <li> */
li{
   list-style-type: none;
}
/*configuramos anclas suaves */
html{
    scroll-behavior: smooth;
}
/* desactivamois estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, strong, a, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;

}
/*evitamos problemas con los pseudoelementos de quotes */
blockquote::before, blockquote::after, q::before, q::after {
    content: ();
    content:none;

}

/* configuramos el texto que seleccionamos */
:: selection: {
    background-color: var (--color-primario);
    color: var (--color-secundario);

}

/*nivelamos problemas de tipografias y colocacion de formularios */

form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: auto;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
    /*opcional --appearance: none; -- ojo ... no se recomienda usarlo pero desactiva */
    /*valores predeterminados de imputs y checkbox*/

}

/* reseteamos las tablas */

table, tr, td {
    border-collapse: 0;
    border-spacing: 0;
}

/*evitamos problemas con el SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;

}

/*Configuramos la tipografia para toda la web */

body{
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--color-primario); /* OJOOOO ESTE ES EL PUNTO QUE PREGUNTE EN EL VIDEO QUE CREO QUE PONER COLOR-PRINCIPAL ES UNA INCONSISTENCIA */
    color: var (--color-primario)
    background-color: var (--color-secundario);
    /*opcional*/ line-height: 1.4em;
    /*opcional ---- hyphens:auto; --- si algun texto no cabe le pone unguion y continua en la siguiente linea */
    /*opcional*/ font-smooth:always;
    /*opcional*/ :-webkit-font-smoothing:antialiased;
    /*opcional*/ -moz-osx-font-smoothing:grayscale;
    

}






